@use "../fonts" as *;
@use "../functions" as *;

.prices {
  margin: 0 auto;
  margin-top: vw-1600(160);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: vw-1600(1296);

  @media (max-width: 768px) {
    margin: 0 auto;
    margin-top: 72px;
    max-width: calc(100% - 40px);
  }

  &__title {
    @include h2;
    color: var(--2-txt);
    margin-bottom: vw-1600(56);

    @media (max-width: 768px) {
      margin-bottom: 24px;
      text-align: center;
    }

    span {
      @supports ((text-stroke: 1px var(--2-txt)) or (-webkit-text-stroke: 1px var(--2-txt))) {
        color: transparent;
        -webkit-text-stroke: 1px var(--2-txt);
        text-stroke: 1px var(--2-txt);
        text-shadow: none;
      }
    }
  }

  &__price {
    @include h3;
    color: var(--2-txt);
    margin-bottom: vw-1600(24);
    text-align: center;

    @media (max-width: 768px) {
      margin-bottom: 16px;
    }
  }

  &__tabs {
    display: flex;
    gap: vw-1600(28);
    width: 100%;
    justify-content: center;
    margin-bottom: vw-1600(40);

    @media (max-width: 768px) {
      margin-bottom: 32px;
      gap: 12px 16px;
      flex-wrap: wrap;
    }

    &-item {
      @include h4;

      border-radius: vw-1600(100);
      padding: vw-1600(16) vw-1600(39);

      transition: all 0.3s ease-in-out;
      background: linear-gradient(131deg, #1b1b1d 0%, #28282a 100%);
      cursor: pointer;

      @media (max-width: 768px) {
        padding: 8px 26px;
        border-radius: 100px;
      }

      &:nth-child(1) {
        color: #62b85f;

        &.active {
          box-shadow: 0 0 12px 0 rgba(98, 184, 95, 0.5);
        }
      }

      &:nth-child(2) {
        color: #e2e546;

        &.active {
          box-shadow: 0 0 12px 0 rgba(226, 229, 70, 0.5);
        }
      }

      &:nth-child(3) {
        color: #5998d8;

        &.active {
          box-shadow: 0 0 12px 0 rgba(89, 152, 216, 0.5);
        }
      }

      &:nth-child(4) {
        color: var(--2-red);

        &.active {
          box-shadow: 0 0 12px 0 rgba(188, 14, 14, 0.5);
        }
      }
    }
  }

  &__content {
    border: 1px solid rgba(246, 242, 238, 0.1);
    border-radius: vw-1600(16);
    backdrop-filter: blur(40px);
    background: rgba(246, 242, 238, 0.01);
    width: 100%;
    padding: vw-1600(36);

    @media (max-width: 768px) {
      padding: 24px 20px;
      border-radius: 12px;
    }

    .prices__item-list {
      display: flex;
      flex-direction: column;
      gap: vw-1600(12) vw-1600(30);
      max-height: vw-1600(222);
      flex: 1 1 100%;
      margin-bottom: vw-1600(32);
      list-style: none;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        margin-bottom: 24px;
        gap: 12px;
        max-height: initial;
        height: fit-content;
      }
    }

    .prices__item-item {
      @include body-7;
      display: flex;
      align-items: center;
      gap: vw-1600(8);
      color: var(--2-txt);
      opacity: 0.3;
      max-width: vw-1600(404);
      transition: all 0.3s ease-in-out;

      @media (max-width: 768px) {
        gap: 8px;
        max-width: initial;
        width: 100%;
      }

      &.active {
        opacity: 1;

        svg {
          path {
            fill: var(--2-red);
          }
        }
      }

      svg {
        flex-shrink: 0;
        width: vw-1600(20);
        height: vw-1600(20);

        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }

        path {
          fill: var(--2-txt);
          transition: all 0.3s ease-in-out;
        }
      }
    }

    .prices__control {
      display: grid;
      grid-template-columns: repeat(2, vw-1600(290));
      gap: vw-1600(20);
      margin: 0 auto;
      width: fit-content;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 12px;

        .btn-secondary {
          width: 100%;
        }
      }

      .btn-secondary {
        display: flex;
        justify-content: center;
      }

      .button-wide {
      }
    }
  }

  &:has(.prices__tabs-item:nth-child(1).active) {
    .prices__item-item {
      svg {
        path {
          fill: #62b85f;
        }
      }
    }
  }

  &:has(.prices__tabs-item:nth-child(2).active) {
    .prices__item-item {
      svg {
        path {
          fill: #e2e546;
        }
      }
    }
  }

  &:has(.prices__tabs-item:nth-child(3).active) {
    .prices__item-item {
      svg {
        path {
          fill: #5998d8;
        }
      }
    }
  }

  &:has(.prices__tabs-item:nth-child(4).active) {
    .prices__item-item {
      svg {
        path {
          fill: var(--2-red);
        }
      }
    }
  }
}
